#general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

.error {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200px;
}

.errorMensaje {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}